/bin
/build
/obj
/gen
.DS_Store
.externalToolBuilders
.gradle
.idea/libraries/
.idea/artifacts/
.idea/inspectionProfiles/
.idea/workspace.xml
.idea/tasks.xml
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/runConfigurations.xml
*.iml
local.properties
